._Body{
    position: relative;
    color: #FF6060;
}

.title-logement{
    margin-left: 0rem;
    width: fit-content;
    text-align: left;
}

.content-logement .accordion{
    margin-bottom: 1.5rem;
 }


.host-logement{
    position: absolute;
    right: 0rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.host-name{
 text-align: right;
}

.rate-logement{
    position: absolute;
    z-index: 100;
}

.content-logement{
    width: 100%;
}

.tag-list{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    flex-wrap: wrap;
}

.tag{
    background-color: #FF6060;
    color: white;
    margin-right: 1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content-logement .accordion-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


@media screen and (min-width: 641px) { /* Desktop */
    .title-logement{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .location-logement{
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }

    .host-logement{
        margin-top: -4rem;
    }
    .content-logement{
        margin-top: 3rem;
    }

    .rate-logement{
        right: 0;
        margin-top: 2rem;
    }

    .content-logement .accordion-list{
        margin-top: 2rem;
    }

    .description-accordion{
        width: 45%;
      }
      .equipement-accordion{
          width: 45%;
      }

      .host-name{
        margin-top: 0.1rem;
        margin-right: 1rem;
        max-width: 4.5rem;
    }
    .host-photo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .rate-logement i{
        font-size: 1.5rem;
        margin-left: 0.5rem;
       }
       
}

@media screen and (max-width: 640px) { /*Mobile*/
    .title-logement{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .location-logement{
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    .host-logement{
        margin-top: 4rem;
    }

    .tag-list{
        max-width: 100% !important;
    }
    .tag{
        margin-top: 0.2rem;
    }

    .content-logement{
        margin-top: 1rem;
    }

    .rate-logement{
        left: 0;
        margin-top: 5rem;
    }

    .content-logement .accordion-list{
        margin-top: 5rem;
    }

    .description-accordion{
        width: 100%;
      }
      .equipement-accordion{
          width: 100%;
      }

      .host-name{
          margin-top: 0.1rem;
        margin-right: 0.5rem;
        max-width: 4.5rem;
        font-size: 0.9rem;
    }
    .host-photo{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .rate-logement i{
        font-size: 1.1rem;
        margin-left: 0.3rem;
       }
       
}