._Body{
    position: relative;
    color: #FF6060;
}

.flex-wrapper{
    display: flex;
    flex-direction: row;
    width: 100;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.title-logement{
    text-align: left;
    order:1;
}

.location-logement {
    text-align: left;
    width: 100%;
}

.host-logement{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.rate-logement{
    z-index: 100;
    display: flex;
    flex-direction: row;
}

.fichelogement .dropdown-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}


.host-name{
 text-align: right;
}

.tag-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag{
    background-color: #FF6060;
    color: white;
    margin-right: 1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

.fichelogement .dropdown-list {
    order: 6;
}

.rate-logement i{
    color: #E3E3E3;       
}

.rate-logement i.active{
    color: #FF6060;
}


@media screen and (min-width: 641px) { /* Desktop */
    .title-logement{
        font-size: 2.5rem;
        width: 80%;
    }
    .host-logement{
        order: 2;
        width: 20%;
        justify-content: right;
    }

    .location-logement{
        font-size: 1.2rem;
        order:3;
    }

    .tag-list{
        order: 4;
        width: 80%;
        padding-top: 1rem;
    }

    .rate-logement{
       order: 5;
       width: 20%;
       justify-content: right;
       padding-top: 0.5rem;
    }

    .fichelogement .dropdown-list{
        padding-top: 1.5rem;
    }

    .description-dropdown{
        width: 45%;
      }
      .equipement-dropdown{
          width: 45%;
      }

      .host-name{
        margin-top: 0.1rem;
        margin-right: 1rem;
        max-width: 4.5rem;
    }
    .host-photo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .rate-logement i{
        font-size: 1.5rem;
        margin-left: 0.5rem;
       }   
}

@media screen and (max-width: 640px) { /*Mobile*/
    .title-logement{
        font-size: 1.5rem;
        width: 100%;
    }

    .host-logement{
        order: 5;
        width: 50%;
        justify-content: right;
        padding-top: 1rem;
    }

    .location-logement{
        order:2;
        font-size: 1rem;
        width: 100%;
        padding-top: 0.5rem;
    }

    .tag-list{
        width: 100%;
        order: 3;
        padding-top: 0.5rem;
    }

    .tag{
        margin-top: 0.2rem;
    }


    .rate-logement{
        order: 4;
        width: 50%;
        padding-top: 1.5rem;
    }


    .description-dropdown{
        width: 100%;
        padding-top: 1rem;
      }
      .equipement-dropdown{
          width: 100%;
          padding-top: 1rem;
      }

      .host-name{
          margin-top: 0.1rem;
        margin-right: 0.5rem;
        max-width: 4.5rem;
        font-size: 0.9rem;
    }
    .host-photo{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .rate-logement i{
        font-size: 1.1rem;
        margin-left: 0.3rem;
       }
       
}