.banner-apropos{
    background-image: url('../../../public/banner-apropos.jpg');
}


 .apropos.dropdown-list>div{
     width: 100%;
 }


@media screen and (min-width: 641px) { /* Desktop */

    .apropos.dropdown-list{
        width: 80%;
        margin-left: 10%;
    }
    .apropos .dropdown{
        margin-top: 2rem;
     }
}

@media screen and (max-width: 640px) { /*Mobile*/
    .banner.banner-apropos{
        height: 15rem;
        border-radius: 0.5rem;
        margin-top: 0rem;
        background-position-x: 85%;
        background-size: auto 100% !important;
    }
    .apropos .dropdown{
        margin-top: 1.5rem;
     }
}