.banner-home{
    background-image: url('../../../public/images/banner-home.jpg');
}

@media screen and (min-width: 641px) {/* Desktop*/
    .banner.banner-home{
        background-position-y: 44.5%;
        background-size: 100% auto;
        
    }
}

@media screen and (max-width: 640px) { /*Mobile*/

    .banner.banner-home{
        height: 8rem;
        border-radius: 0.5rem;
        margin-top: 0rem;
        background-position-y: 48%;
    }
}

