header{
    /*width: 1240px;*/
    max-width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo-header{
    text-align: left;
}

@media screen and (min-width: 641px) {
    header {
        height: 68px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 640px) {
    header {
        height: 58px;
        margin-top: 20px;
    }
}