.carousel{
    width: 100%;
    position: relative;
    color: white;
    max-width: 90vw;
    margin: auto;
}

.carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel-image.active{
    display: block;
    animation:showImage 1s
}



.direction, .indication{
    position: absolute;
    z-index: 100;
}

.direction{
    top: 50%;
    transform: translate(0%, -50%); /* décalage de 50% de sa propre taille */
    cursor: pointer;
}

.direction.fa-chevron-left{
    left: 1rem;
   
}

.direction.fa-chevron-right{
    right: 1rem;
}

.indication{
    bottom: 1rem;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(0%, -50%); /* décalage de 50% de sa propre taille */
}

@keyframes showImage {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;  
    }
}


@media screen and (min-width: 641px) { /* Desktop */
    .carousel{
        height: 415px;
        margin-top: 1rem;
    }
    .carousel-image{
        border-radius: 25px;
    }

    .direction{
        font-size: 4rem;

    }
}

@media screen and (max-width: 640px) { /*Mobile*/
    .carousel{
        height: 15rem;
    }

    .carousel-image{
        border-radius: 0.5rem;
    }

    .direction{
        font-size: 2rem;
    }

    .indication{
        display: none;
    }
}