nav{
    line-height: 3rem;

}

nav ul{
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}


nav li {
    list-style: none;
    float: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    float: left;
}

nav li a{
    color: #FF6060;
    text-decoration: none;
}

nav li a.active{
    text-decoration: underline;
}


@media screen and (min-width: 641px) {
    nav li {
        width: 8rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    nav li {
        width: 5.5rem;
        font-size: 0.9rem;
    }

    nav li a{
        text-transform:uppercase;
    }
}